<div class="row">
    <div class="col-sm-6 white">
        <h4>Anmelden</h4>
        <div>
            <div class="form-group">
                <label for="username">Email</label>
                <input type="email" class="form-control" id="username" aria-describedby="emailHelp"
                       placeholder="E-Mail">
            </div>
            <div class="form-group">
                <label for="password">Passwort</label>
                <input type="password" class="form-control" id="password" placeholder="Passwort">
            </div>
            <button onclick="checkLogin()" onkeypress="return returnLog(event)" type="submit" class="btn orange-o75">
                Anmelden
            </button>
        </div>
    </div>
    <div class="col-sm-6 card orange">
        <div class="align-middle text-center">
            <img src="../img/pizza3.png" style="width: 96px">
            <hr>
            <h1>Neu hier?</h1>
            <p>Registriere dich hier auf der Webseite.</p>
            <a id="t_link_register" href=""><p>Jetzt Konto erstellen</p></a>
        </div>
    </div>
</div>