<div class="row">
    <div class="col-sm-6 white">
        <h4>Bestell&uuml;bersicht</h4>
        <hr>
        <h6>Folgende Daten wurden an unseren Pizzadienst gesendet:</h6>
        <form>
            <hr>
            <div class="form-group col-sm-6 white">
                <label for="firstname">Name</label>
                <input type="text" class="form-control" id="name" readonly>
            </div>
            <hr>
            <div class="form-group col-sm-11 white">
                <label for="adress">Adresse</label>
                <input type="adress" class="form-control" id="adress" readonly>
            </div>
            <hr>
            <div class="form-group col-sm-11 white">
                <label for="pizzaname">Stra&szlig;e</label>
                <input type="text" class="form-control" id="street" readonly>
            </div>
            <hr>
            <div class="form-group col-sm-11 white">
                <label for="phone">Telefonnummer</label>
                <input type="text" class="form-control" id="phone" readonly>
            </div>
            <hr>
            <div class="form-group col-sm-11 white">
                <label for="pizzaname">Pizza</label>
                <textarea type="text" class="form-control" id="pizzaname" readonly></textarea>
            </div>
            <hr>
            <div class="form-group col-sm-3 white">
                <label for="total">Gesamtpreis</label>
                <input type="text" class="form-control" id="total" readonly>
            </div>
            <hr>
            <div class="form-group col-sm-11 white">
                <label for="pay">Bezahlungsart</label>
                <input type="money" class="form-control" id="payment" readonly>
            </div>
            <hr>
        </form>
    </div>
    <div class="col-sm-6 card orange">
        <div class="align-middle align-self-center text-center">
            <img src="../img/pizza.png" style="width: 96px">
            <hr>
            <h1>Vielen Dank f&uuml;r Ihre Bestellung!</h1>
            <p>Wir w&uuml;nschen Ihnen einen guten Apetit.</p>
        </div>
    </div>
</div>