<div class="row">
    <div class="col-sm-12 white">
        <h4>Telegram Bot</h4>
        <img src="../img/telegram.png" class="rounded mx-auto d-block" style="float: right; width: 96px" />
        <h6>Jetzt ganz einfach &uuml;ber dein Smartphone deine Lieblingspizzen schnell und leicht bestellen!</h6>
        <div class="align-items-center">
            <a href="" id="t_telegram_bot" class="btn btn-primary">Schreibe dem Bot</a>
        </div>
        <br>
        <h5>Was kann denn der Bot?</h5>
        <div class="list-group">
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Schnelles und einfaches bestellen</h5>
                    <small>/order</small>
                </div>
                <p class="mb-1">Anhand der einfachen Bedienung der Bestellug durch Keyboard Anzeige der Pizzen, Geträ&auml;nke und vieles mehr.</p>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Einfaches registrieren</h5>
                    <small class="text-muted">/start</small>
                </div>
                <p class="mb-1">Falls du noch kein Kunde bei uns bist, ist es ganz einfach dich in unserem System mit dem Bot zu registrieren. Falls du schon ein Account hast, kannst du in deinen Einstellungen deine Telegram ChatID einfach hinzuf&uuml;gen.</p>
            </div>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Livetracking deiner Bestellung</h5>
                </div>
                <p class="mb-1">Wenn du deine Bestellung abgeschlossen hast bekommst du ganz einfach eine Nachricht, die dir die aktuelle Position des Lieferanten verr&auml;t.</p>
            </div>
        </div>
    </div>
</div>
