<div class="row">
	<div class="col-sm-6 white">
		<h4>Kundendaten &auml;ndern</h4>
		<div>
			<div class="form-group">
				<label for="firstname">Vorname</label>
				<input type="text" class="form-control" id="firstname" aria-describedby="emailHelp" placeholder="Vorname">
			</div>
			<div class="form-group">
				<label for="lastname">Nachname</label>
				<input type="text" class="form-control" id="lastname" aria-describedby="emailHelp" placeholder="Nachname">
			</div>
			<div class="form-group">
				<label for="username">Email</label>
				<input type="email" class="form-control" id="username" aria-describedby="emailHelp" placeholder="E-Mail">
			</div>
			<div class="form-row">
				<div class="form-group col-sm-8">
					<label for="userstreet">Stra&szlig;e</label>
					<input type="text" class="form-control" id="userstreet" aria-describedby="emailHelp" placeholder="Stra&szlig;e">
				</div>
				<div class="form-group col-sm-4">
					<label for="userstreetnumber">Hausnummer</label>
					<input type="text" class="form-control" id="userstreetnumber" aria-describedby="emailHelp" placeholder="1">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-sm-4">
					<label for="userpostcode">PLZ</label>
					<input type="text" class="form-control" id="userpostcode" aria-describedby="emailHelp" placeholder="PLZ">
				</div>
				<div class="form-group col-sm-8">
					<label for="usercity">Stadt</label>
					<input type="text" class="form-control" id="usercity" aria-describedby="emailHelp" placeholder="Stadt">
				</div>
			</div>
			<div class="form-group">
				<label for="userphone">Telefonnummer</label>
				<input type="text" class="form-control" id="userphone" aria-describedby="emailHelp" placeholder="Telefonnummer">
			</div>
			<div class="form-group">
				<label for="passwordOld">Altes Passwort</label>
				<input type="password" class="form-control" id="passwordOld" placeholder="Altes Passwort">
			</div>
			<div class="form-group">
				<label for="passwordNew">Neues Passwort</label>
				<input type="password" class="form-control" id="passwordNew" placeholder="Neues Passwort">
			</div>
			<div class="form-group">
				<label for="passwordNewConfirm">Neues Passwort wiederholen</label>
				<input type="password" class="form-control" id="passwordNewConfirm" placeholder="Neues Passwort wiederholen">
			</div>
			<hr>
			<button onclick="sendNewData()" type="submit" class="btn orange-o75">Speichern</button>
			<button onclick="deleteUser()" type="submit" class="btn orange-o75 buttonRight">Konto l&ouml;schen</button>
		</div>
	</div>
	<div class="col-sm-6 card orange">
		<div class="align-middle align-self-center text-center">
			<img src="img/pizza.png" style="width: 96px">
			<hr>
			<h1>Hallo</h1>
			<h1 id="userGreeting"></h1>
		</div>
	</div>
	<!--<script language="JavaScript">loadOldData();</script>-->
	<div class="col-sm-12 white">
		<br/>
		<h4>Ihre alten Bestellungen</h4>
		<br/>
	</div>
	<div class="col-sm-12 white" id="orderHistory">
	</div>
</div>