<div class="row">
    <div class="col-sm-6 white">
        <h4>Bestell&#252bersicht</h4>
        <form>
            <div class="form-group">
                <label>Anmelden:</label>
                <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="E-Mail">
                <input type="password" class="form-control" id="passwort" aria-describedby="emailHelp"
                       placeholder="Passwort">
                <button id="anmeldebutton" type="button" onclick="login()" class="btn orange-o75">Anmelden</button>
            </div>
            <hr>


            <div class="form-group">
                <label for="firstname">Vorname</label>
                <input type="text" class="form-control" id="firstname" aria-describedby="emailHelp"
                       placeholder="Vorname">
            </div>
            <div class="form-group">
                <label for="lastname">Nachname</label>
                <input type="text" class="form-control" id="lastname" aria-describedby="emailHelp"
                       placeholder="Nachname">
            </div>
            <div class="form-group">
                <label for="street">Strasse</label>
                <input type="text" class="form-control" id="street" aria-describedby="emailHelp" placeholder="Strasse">
            </div>
            <div class="form-group">
                <label for="nr">Hausnummer</label>
                <input type="text" class="form-control" id="nr" aria-describedby="emailHelp" placeholder="Hausnummer">
            </div>
            <div class="form-group">
                <label for="postcode">PLZ</label>
                <input type="text" class="form-control" id="postcode" aria-describedby="emailHelp" placeholder="PLZ"
                       onchange="getPLZ();">
                <div id="ans"></div>
            </div>
            <div class="form-group">
                <label for="town">Ort</label>
                <input type="text" class="form-control" id="town" aria-describedby="emailHelp" placeholder="Ort">
            </div>
            <div class="form-group">
                <label for="phone">Telefonnummer</label>
                <input type="text" class="form-control" id="phone" aria-describedby="emailHelp"
                       placeholder="Telefonnummer">
            </div>

            <p>Geben Sie Ihre Zahlungsweise an:</p>
            <fieldset>
                <input type="radio" id="bar" name="Zahlmethode" value="Bar" checked>
                <label for="bar"> Bar</label>
                <input type="radio" id="mc" name="Zahlmethode" value="Mastercard">
                <label for="mc"> Mastercard</label>
                <input type="radio" id="vi" name="Zahlmethode" value="Visa">
                <label for="vi"> Visa</label>
                <input type="radio" id="ae" name="Zahlmethode" value="AmericanExpress">
                <label for="ae"> American Express</label>
            </fieldset>


            <button id="bestelluebersicht" type="button" onclick="writeOrderInStorageAndJson()" class="btn orange-o75">
                kostenpflichtig bestellen
            </button>
            <button id="bestellungloeschen" type="button" onclick="deleteOrder()" class="btn orange-o75">Löschen
            </button>
            <output></output>
        </form>
    </div>
    <div class="col-sm-6 card orange">
        <div class="align-middle align-self-center text-center">
            <img src="../img/pizza.png" style="width: 96px">
            <hr>
            <h1>Pizzen&#252bersicht</h1>
            <p>Mindestbestellwert: 12 Euro</p>
            <p>
            <ul id="bestellliste"></ul>
            <ul id="gesamtpreis"></ul>
            <p>
        </div>
    </div>
</div>