<!-- navigationbar -->
<nav class="navbar navbar-expand-lg navbar-light">
    <a id="logo" class="navbar-brand" href="">Pizza</a>
    <!-- Navigation button for mobile version -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- left navigation part-->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a id="hours" class="nav-link" href="#">&Ouml;ffnungszeiten</a>
            </li>
            <li class="nav-item">
                <a id="menu" class="nav-link" href="#">Speisekarte</a>
            </li>
            <li class="nav-item">
                <a id="t_telegram" class="nav-link" href="#">Telegram Bot</a>
            </li>
        </ul>
    </div>

    <!-- right navigation part -->
    <span class="text-right">
        <ul class="navbar-nav">
			<li class="nav-item">
                <a id="logout" class="nav-link text-orange-o75" onclick="t_logout()">Logout</a>
            </li>
            <li class="nav-item">
                <a id="state" class="nav-link text-orange-o75" href="#">Anmelden / Registrieren</a>
            </li>
            <li class="nav-item">
                <a href="../cart.html" id="cart" class="btn orange btn-lg">Warenkorb</a>
            </li>
        </ul>
    </span>
</nav>
<!-- END of navigation -->
